flask
flask-socketio
eventlet
flask-cors
requests
ultralytics
numpy<2.0.0
pandas
torch
pytorch-lightning
tensorflow
joblib
scikit-learn
opencv-python
pillow
insightface
onnxruntime
mediapipe==0.10.21
openai-whisper
